.container {
  display: flex;
  min-width: 100vw;
  min-height: 100vh;

  background-color: #ffffff;
  background-image: url("https://res.cloudinary.com/dvco5xnoe/image/upload/v1682741454/smiley-businesswoman-using-smartphone-credit-card-outdoors_dunier.jpg");
  background-size: cover;
}

.bgContainer {
  flex: 1;
  display: flex;
  align-self: flex-end;
  flex-direction: column;

  justify-content: center;
}

@media (min-width: 768px) {
  .bgContainer {
    margin: 5rem;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
}
